</div>

<footer>
    <div class="container">
        <span class="copyright">&copy; {{ now.Year }} {{ .Site.Title }} - <a rel="license"
                href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> - <a href="/site">Site
                Info</a></span>

        <br/>

        𝒵𝓇𝓏𝓀𝒶 @ <a rel="me" href="https://ruby.social/@zrzka">ruby.social</a>,
            <a href="https://github.com/zrzka">GitHub</a>,
            <a href="https://stackoverflow.com/users/581190/zrzka">Stack Overflow</a>
    </div>
</footer>

</body>

</html>